@model StudentskaSluzba.Models.Ispit

@{
    ViewBag.Title = "Edit";
}

<h2 class="title">Izmeni ispit</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<h4>Ispit</h4>
<hr />
<form>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-4 form-group">
            <label class="control-label">Broj indeksa</label>
            @Html.EditorFor(model => model.BI, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BI, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4 form-group">
            <label class="control-label">Šifra predmeta</label>
            @Html.EditorFor(model => model.PredmetId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PredmetId, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4 form-group">
            <label class="control-label col-md-2">Ocena</label>
            @Html.EditorFor(model => model.Ocena, new { htmlAttributes = new { @class = "form-control", @min = "6", @max = "10" } })
            @Html.ValidationMessageFor(model => model.Ocena, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <input type="submit" value="Sačuvaj" class="btn save-button" />
        <a href="@Url.Action("Index", "Ispit")" class="back-button" title="Back to list">
            <i class="fas fa-arrow-circle-left"></i>
        </a>
    </div>
</form>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


